$major: #2482ab;
$minor: #76bddc;
$bright: #ffffff;
$dark: #000000;
$contentFont: normal 30px Segoe UI;
$headerFont: normal 44px Segoe UI;
.book-cell {
    color: $bright;
    font-size: 25px;
    line-height: center;
    cursor: pointer;
}
input{
    color: $dark;
}