$major: #2482ab;
$minor: #76bddc;
$bright: #ffffff;
$dark: #000000;
$contentFont: normal 30px Segoe UI;

.auth-page {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $major;

  .auth-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    width: 310px;
    height: 94px;
    input {
      width: 310px;
      height: 50px;
      padding: 0px;
      margin-top: 3px;
      border: 1px solid $dark;
      font: $contentFont;
    }
    p {
      margin: 0px;
      color: $bright;
      font: $contentFont;
    }
  }
  .sign-in-button {
    width: 310px;
    height: 50px;
    color: $bright;
    font: $contentFont;
    background-color: $minor;
    margin-top: 60px;
    text-align: center;
    border: 1px solid $dark;
    cursor: pointer;
  }
  .create-account-button {
    width: 310px;
    height: 50px;
    color: $bright;
    font: $contentFont;
    text-align: center;
    margin-top: 21px;
    cursor: pointer;
  }
}
.dashboard {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $major;
  font: $contentFont;
  color: $bright;
  .userName{
    position:absolute;
    top: 90px;
    right: 113px;
  }
  .search-row {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .search-by {
      min-width: 129px;
      height: 40px;
      margin-right: 33px;
    }
    // .select-container{
    //   background-color:$bright;
    // }
    .drop-down {
      width: 264px;
      height: 40px;
      font: $contentFont;
      font-size: 25px;
    }
    .search-box {
      margin-left: 33px;
      width: 350px;
      height: 80px;
      display: flex;
      flex-direction: column;
      #search-box-row1 {
        display: flex;
        flex-direction: row;
        input {
          width: 290px;
          background-color: $bright;
          height: 40px;
          min-height: 40px;
          padding: 0px;
          border: 0px;
        }
        .search-button {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0px;
          background-color: $minor;
          width: 60px;
          height: 40px;
        }
        .search-icon {
          width: 30px;
          height: 30px;
          color: $bright;
        }
      }
      #advanced-search {
        cursor: pointer;
        text-align: right;
        color: $bright;
        font-size: 25px;
        margin-top: 12px;
      }
    }
  }
  .wishlist-title{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 24px;
  }
}
